body {
	background-image: url("http://hosting.otterlabs.org/espinozasusanv/CST_336_FALL_15/group/img/background.jpg"); 
  	}
.content {
	padding: 20px;
	height: 450px;
	width: 700px;
	background-color: #E1EFEF;
	position: absolute;
	left: 400px;
	top: 175px;
	z-index: 0;
	line-height: 22px;
}
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
		display: block;
	}  
nav ul {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: .05em;
	background: #348899; 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: absolute;
	z-index: 1;
	left: 450px;
}
  
 nav ul li {

	float: left;
	
}
nav ul li:hover {
		background: grey;
	}
nav ul li:hover a {
			color: #fff;
		}
	
nav ul li a {
		display: block; 
		padding: 25px 40px;
		color: white;
		text-decoration: none;
	}    
nav ul ul {
	background: #FFCF85; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}
nav ul ul li {
		float: none; 
		position: relative;
	}
nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
nav ul ul li a:hover {
				background: #95ccba;
			}
			
h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 45px;
	margin: 0px;
	color: #066;
